@{
    ViewBag.Title = "About";
}

<section class="banner" id="about-banner">
    <div class="container about-banner__container">
        <div class="banner-text">
            <h1 class="banner-title">декiлька слiв про нас</h1>
            <hr class="banner-title-divider">
            <h2 class="banner-subtitle">
                У мальовничій середньогірській долині, оточена горами, знаходиться Східниця.
            </h2>
        </div>
    </div>
</section>
<section id="home-gallery" class="home-gallery">
    <div class="container home-gallery__container">
        <div class="home-gallery__text-wrapper">
            <h4 class="main-title">Про Схiдницю</h4>
            <p class="main-text home-gallery__text">
                У мальовничій середньогірській долині, оточена горами, знаходиться Східниця.<br />
                Східниця - це унікальне, ідеальне для відпочинку і поправки здоров'я курортне бальнеологічне містечко.<br />
                В Східниці налічується 38 джерел мінеральних вод та 17 свердловин з різниманітним хімічним складом води.<br />
                Висота Східниці над рівне моря сягає 600–900 метрів. 	Клімат Східниці м'який, в найхолодніший місяць року - січень, середні температури досягають -7 градусів, а влітку температури коливаються близько + 25-27 градусів, осінь і весна теплі і довгі.<br />
                Джерела мінеральних вод цього курорту вражають своєю різноманітністю. Особливості складу води роблять лікувальний спектр Східниці дуже великим: від шлунково-кишкового, урологічного, жовчно-кам*яних до панкреатиту, цукрового діабету до розладу обміну речовин. Не менш корисними для поправки здоров'я стають озокеритові поклади, лікувальні солі, виварені з особливої речовини - ропи. Озокеритотерапія курорту Східниця славиться своєю протизапальною силою, за рахунок посилення припливу крові до уражених органів активуються процеси відновлення тканин.

            </p>
        </div>
    </div>
    <div class="home-gallery__images-wrapper">
        <img class="home-gallery__img-big" src="~/Content/img/about/about-lg.png" alt="">
        <div class="home-gallery__images-inner-container container">
            <img class="home-gallery__img-medium" src="~/Content/img/about/about-md.png" alt="">
            <img class="home-gallery__img-small" src="~/Content/img/about/about-sm-1.png" alt="">
            <img class="home-gallery__img-small home-gallery__img-small-2" src="~/Content/img/about/about-sm-2.png" alt="">
        </div>
    </div>
</section>
<section id="home-healing">
    <div class="container">
        <div id="home-healing-container">
            <div id="home-healing-container__images">
                <img class="home-healing-container__half-width" src="~/Content/img/about/about-hotel-1.jpg" alt="">
                <img class="home-healing-container__half-width" src="~/Content/img/about/about-hotel-2.jpg" alt="">
                <img class="home-healing-container__full-width" src="~/Content/img/about/about-hotel-3.jpg" alt="">
            </div>
            <div id="home-healing-container__text-wrapper">
                <h4 class="home-healing-container__title main-title">Про отель</h4>
                <p class="home-healing-container__text main-text">
                    Лікувально-оздоровчий комплекс "Зелений Бір" знаходиться на висоті 630 метрів над рівнем моря і розріджене цілюще повітря сприяє лікуванню. В 10 хвилинах пішого ходу, поблизу "Зеленого Бору" знаходяться два джерела типу "Нафтуся"-№25 та №26, та ждерело 2С(Содова). Готель орієнтуєця на людей які цінять спокій природи, тому готель був розміщений у максимально придатних для цього умовах. Оточений древніми сосновими лісами які входять до національного парку "Сколівскі бескиди" готель захищенний від всіх сторонніх звуків міста які могли б помішати відчути вам істинний спокій та умиротворіння з собою та природою, але в той же час не є відірваним від цивілізації і розташований від центра міста в 20 хвилинах пішого ходу. Укомплектований за сучасним словом техніки та високо кваліфікованою обслугою. Сучасний медичний центр за допомоги природних джерел зможе вилікувати майже будь яку недугу або стимулювати організм на довгі роки здорової роботи. Керівництво та персонал готелю "Зелений Бір" цінить кожного гостя та прагне подарувати йому незабутній відпочинок та міцне здоровя.
                </p>
            </div>
        </div>
    </div>
</section>
