@model IEnumerable<Hotel.Models.Gallery>
@{
    ViewBag.Title = "Gallery";
}


<section id="gallery-banner"></section>
<section class="gallery-main">
    @Html.Hidden("picsCount", (object)ViewBag.Count)
    <p class="main-title gallery-title">Галерея</p>
    <div id="gallery-wrapper">
        @foreach (var img in Model)
        {
            <a class="gallery-thumbnail" href="~/Content/img/gallery/thumb/tumb_@img.ImgName">
                <img class="gallery-image" src="~/Content/img/gallery/@img.ImgName" />
            </a>
        }
    </div>
    <button class="button-green gallery-btn" id="loadPicsPhoto">Більше фото</button>
</section>

@section Scripts {
    <script src="~/Scripts/gallery.js"></script>
    <script src="~/Scripts/lightgallery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setGalleryHeight();
            lightGallery(document.getElementById('gallery-wrapper'));
        });

        function setGalleryHeight() {
            var allImagesHeight = 0;
            $('.gallery-thumbnail').each(function () {
                allImagesHeight += $(this).outerHeight() + Number.parseInt($(this).css('margin-bottom'));
            });
            console.log(allImagesHeight);
            $('#gallery-wrapper').height(allImagesHeight / 3 + 'px');
        }
    </script>
}
