@{
    ViewBag.Title = "Home Page";
}

<section class="banner" id="home-banner">
    <div class="container">
        <div class="banner-text">
            <h1 class="banner-title">Вітаємо в Східниці</h1>
            <hr class="banner-title-divider">
            <h2 class="banner-subtitle">Ми робимо людей трішки щасливішими і здоровішими</h2>
        </div>
        <div class="banner-actions">
            <a href="/" class="button-green">
                Детальніше
            </a>
            <a href="/" class="button-black">
                Бронювання
            </a>
        </div>
        <a class="banner-details">
            Прокрутіть униз для деталей
        </a>
    </div>
</section>
<section id="home-healing">
    <div class="container">
        <div id="home-healing-container">
            <div id="home-healing-container__images">
                <img class="home-healing-container__half-width" src="~/Content/img/home/healing-1.jpg" alt="">
                <img class="home-healing-container__half-width" src="~/Content/img/home/healing-2.jpg" alt="">
                <img class="home-healing-container__full-width" src="~/Content/img/home/healing-3.jpg" alt="">
            </div>
            <div id="home-healing-container__text-wrapper">
                <h4 class="home-healing-container__title main-title">Лікування, про послуги</h4>
                <p class="home-healing-container__text main-text">
                    Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    <br>
                    Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. This duis sed odio sit amet nibh cursus a sit amet mauris. Morbi accumsan ipsum vulputate.
                </p>
                <a href="/" class="button-green home-healing__btn">
                    Детальніше
                </a>
            </div>
        </div>
    </div>
</section>
<section id="home-prices">
    <div class="container home-prices__wrapper">
        <div class="home-price">
            <p class="main-title home-price__title">Ціна 1</p>
            <p class="main-text home-price__text">Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin</p>
            <a href="/" class="button-green prices__btn">
                Детальніше
            </a>
        </div>
        <aside class="home-prices__divider"></aside>
        <div class="home-price">
            <p class="main-title home-price__title">Ціна 2</p>
            <p class="main-text home-price__text">Lorem Ipsum roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin</p>
            <a href="/" class="button-green prices__btn">
                Детальніше
            </a>
        </div>
    </div>
</section>