
@{
    ViewBag.Title = "Prices";
}

<section class="banner" id="prices-banner">
    <div class="container prices-banner__container">
        <div class="banner-text">
            <h1 class="banner-title">цiни на лiкування</h1>
            <hr class="banner-title-divider">
            <h2 class="banner-subtitle">
                Перелік медичних процедур для проживаючих в <br>
                ЛОК 'Зелений Бір'. (з 01 січня 2018 р.)
            </h2>
        </div>
    </div>
</section>
<section class="prices-main">
    <div class="container">
        <div class="prices-table">
            <p class="prices-table__main-title">
                Процедури
            </p>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Консультація лікаря</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Первинна</p>
                <p class="prices-table__price">0</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Повторна</p>
                <p class="prices-table__price">50</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">ЕКГ</p>
                <p class="prices-table__price">60</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Експрес аналіз сечі </p>
                <p class="prices-table__price">30</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Душ</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Підводний душ-масаж </p>
                <p class="prices-table__price">120</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Душ Шарко</p>
                <p class="prices-table__price">100</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Циркулярний душ</p>
                <p class="prices-table__price">60</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Висхідний душ</p>
                <p class="prices-table__price">50</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Ванна</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Ванна (хвойна, валеріанова, хвойно-гліцеринова)</p>
                <p class="prices-table__price">80</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">'Клеопатра' (молоко з медом, вівсяний відвар)</p>
                <p class="prices-table__price">300</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle"> З солями 'Мертвого моря' </p>
                <p class="prices-table__price">90</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Перлинна</p>
                <p class="prices-table__price">100</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Суха вуглекисла ванна (1 процедура)</p>
                <p class="prices-table__price">80</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Суха вуглекисла ванна (курс з 6 процедур)</p>
                <p class="prices-table__price">300</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Озокеритні аплікації</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Великi</p>
                <p class="prices-table__price">70</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Малi</p>
                <p class="prices-table__price">60</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Великі з бішофітом</p>
                <p class="prices-table__price">75</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Малi з бішофітом</p>
                <p class="prices-table__price">65</p>
            </div>
            @*<div class="prices-table__wrapper">
                <p class="prices-table__title">Очисна клізма</p>
                <p class="prices-table__price">70</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Зрошення кишківника</p>
                <p class="prices-table__price">100</p>
            </div>*@
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Магнітотерапія</p>
                <p class="prices-table__price">40</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Магніто-лазеротерапія</p>
                <p class="prices-table__price">45</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Електрофорез лікувальний</p>
                <p class="prices-table__price">60</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">УВЧ</p>
                <p class="prices-table__price">40</p>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Інгаляція</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Інгаляція</p>
                <p class="prices-table__price">40</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Інгаляція протинабрякова</p>
                <p class="prices-table__price">50</p>
            </div>
        </div>
        <div class="prices-table">
            <p class="prices-table__main-title">
                Масаж
            </p>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Спина</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Дорослий</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">20 хв.</div>
                    <p class="prices-table__price">100</p>
                </div>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Дитячий</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">15 хв.</div>
                    <p class="prices-table__price">80</p>
                </div>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Комірцева зона</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">15 хв.</div>
                    <p class="prices-table__price">80</p>
                </div>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Живіт</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">10 хв.</div>
                    <p class="prices-table__price">50</p>
                </div>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Нижні кінцівки</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Нога</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">15 хв.</div>
                    <p class="prices-table__price">80</p>
                </div>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Двi  ноги</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">30 хв.</div>
                    <p class="prices-table__price">150</p>
                </div>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Верхні кінцівки</p>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Рука</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">10 хв.</div>
                    <p class="prices-table__price">60</p>
                </div>
            </div>
            <div class="prices-table__wrapper prices-table__wrapper--sub">
                <p class="prices-table__subtitle">Двi  руки</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">20 хв.</div>
                    <p class="prices-table__price">100</p>
                </div>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Поясниця</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">15 хв.</div>
                    <p class="prices-table__price">80</p>
                </div>
            </div>
            <div class="prices-table__wrapper">
                <p class="prices-table__title">Стопи</p>
                <div class="price-time-wrapper">
                    <div class="prices-table__time">10 хв.</div>
                    <p class="prices-table__price">50</p>
                </div>
            </div>
        </div>
    </div>
</section>

