
@{
    ViewBag.Title = "Rooms";
}

<section class="banner" id="rooms-banner">
    <div class="container rooms-banner__container">
        <div class="banner-text">
            <h1 class="banner-title">Цiни на номери</h1>
            <hr class="banner-title-divider">
            <h2 class="banner-subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                Ut enim ad minim veniam
            </h2>
        </div>
    </div>
</section>
<section class="rooms-main">
    <div class="container room-type-container">
        <div class="room-type-wrapper">
            <div class="room-type">
                <div class="room-type-closed standard">
                    <p class="room-type-closed__title">Стандарт Економ</p>
                    <div class="room-type-closed__amount-wrapper">
                        <div class="room-type-closed__amount room-type-closed__amount--one">
                            - 800 грн
                        </div>
                        <div class="room-type-closed__amount room-type-closed__amount--two">
                            - 1040 грн
                        </div>
                    </div>
                    <button class="room-type-closed__btn">ДЕТАЛЬНiше</button>
                </div>
                <div class="room-type-opened">
                    <p class="room-type-opened__title">Номери Стандарт Економ</p>
                    <aside class="room-type-opened__close"></aside>
                    <div class="room-type-opened__main">
                        <div class="room-type-opened__info">
                            <div class="room-type-opened__info-amount-wrapper">
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-one">Одномісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1300 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-two">Двомісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1380 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-three">Тримісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1730 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-four">Чотиримісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1950 грн</p>
                                </div>
                            </div>
                            <div class="room-type-opened__info-description">
                                <p class="room-type-opened__info-description-title">Опис:</p>
                                <p class="room-type-opened__info-description-text">
                                    Люкс покращеного планування - двокімнатний номер з балконом: вітальня з меблевим гарнітуром, спальна кімната з двоспальним ліжком  Окремий санвузол: унітаз, умивальник,  ванна, фен, рушники. Автономне опалення, круглодобово гаряча і холодна вода.  Супутникове телебачення, телевізор, холодильник,  безкоштовний Інтернет, телефон.
                                </p>
                            </div>
                        </div>
                        <div class="room-type-opened__gallery">
                            <div class="room-gallery">
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/2.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/3.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/2.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/3.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/2.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/3.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room-type">
                <div class="room-type-closed standard-plus">
                    <p class="room-type-closed__title">Стандарт Плюс</p>
                    <div class="room-type-closed__amount-wrapper">
                        <div class="room-type-closed__amount room-type-closed__amount--one">
                            - 850 грн
                        </div>
                        <div class="room-type-closed__amount room-type-closed__amount--two">
                            - 1090 грн
                        </div>
                        <div class="room-type-closed__amount room-type-closed__amount--three">
                            - 1240 грн
                        </div>
                    </div>
                    <button class="room-type-closed__btn">ДЕТАЛЬНiше</button>
                </div>
                <div class="room-type-opened">
                    <p class="room-type-opened__title">Номери Стандарт Плюс</p>
                    <aside class="room-type-opened__close"></aside>
                    <div class="room-type-opened__main">
                        <div class="room-type-opened__info">
                            <div class="room-type-opened__info-amount-wrapper">
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-one">Одномісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1300 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-two">Двомісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1380 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-three">Тримісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1730 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-four">Чотиримісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1950 грн</p>
                                </div>
                            </div>
                            <div class="room-type-opened__info-description">
                                <p class="room-type-opened__info-description-title">Опис:</p>
                                <p class="room-type-opened__info-description-text">
                                    Люкс покращеного планування - двокімнатний номер з балконом: вітальня з меблевим гарнітуром, спальна кімната з двоспальним ліжком  Окремий санвузол: унітаз, умивальник,  ванна, фен, рушники. Автономне опалення, круглодобово гаряча і холодна вода.  Супутникове телебачення, телевізор, холодильник,  безкоштовний Інтернет, телефон.
                                </p>
                            </div>
                        </div>
                        <div class="room-type-opened__gallery">
                            <div class="room-gallery">
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room-type">
                <div class="room-type-closed semi-lux">
                    <p class="room-type-closed__title">Напівлюкс</p>
                    <div class="room-type-closed__amount-wrapper">
                        <div class="room-type-closed__amount room-type-closed__amount--one">
                            - 1025 грн
                        </div>
                        <div class="room-type-closed__amount room-type-closed__amount--two">
                            - 1260 грн
                        </div>
                        <div class="room-type-closed__amount room-type-closed__amount--three">
                            - 1610 грн
                        </div>
                        <div class="room-type-closed__amount room-type-closed__amount--four">
                            - 1850 грн
                        </div>
                    </div>
                    <button class="room-type-closed__btn">ДЕТАЛЬНiше</button>
                </div>
                <div class="room-type-opened">
                    <p class="room-type-opened__title">Номери Напівлюкс</p>
                    <aside class="room-type-opened__close"></aside>
                    <div class="room-type-opened__main">
                        <div class="room-type-opened__info">
                            <div class="room-type-opened__info-amount-wrapper">
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-one">Одномісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1300 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-two">Двомісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1380 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-three">Тримісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1730 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-four">Чотиримісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1950 грн</p>
                                </div>
                            </div>
                            <div class="room-type-opened__info-description">
                                <p class="room-type-opened__info-description-title">Опис:</p>
                                <p class="room-type-opened__info-description-text">
                                    Люкс покращеного планування - двокімнатний номер з балконом: вітальня з меблевим гарнітуром, спальна кімната з двоспальним ліжком  Окремий санвузол: унітаз, умивальник,  ванна, фен, рушники. Автономне опалення, круглодобово гаряча і холодна вода.  Супутникове телебачення, телевізор, холодильник,  безкоштовний Інтернет, телефон.
                                </p>
                            </div>
                        </div>
                        <div class="room-type-opened__gallery">
                            <div class="room-gallery">
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/2.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/3.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/2.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/3.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/2.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/3.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room-type">
                <div class="room-type-closed lux">
                    <p class="room-type-closed__title">Люкс</p>
                    <div class="room-type-closed__amount-wrapper">
                        <div class="room-type-closed__amount room-type-closed__amount--one">
                            - 1200 грн
                        </div>
                        <div class="room-type-closed__amount room-type-closed__amount--two">
                            - 1330 грн
                        </div>
                        <div class="room-type-closed__amount room-type-closed__amount--three">
                            - 1730 грн
                        </div>
                        <div class="room-type-closed__amount room-type-closed__amount--four">
                            - 1950 грн
                        </div>
                    </div>
                    <button class="room-type-closed__btn">ДЕТАЛЬНiше</button>
                </div>
                <div class="room-type-opened">
                    <p class="room-type-opened__title">Номери Люкс</p>
                    <aside class="room-type-opened__close"></aside>
                    <div class="room-type-opened__main">
                        <div class="room-type-opened__info">
                            <div class="room-type-opened__info-amount-wrapper">
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-one">Одномісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1300 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-two">Двомісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1380 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-three">Тримісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1730 грн</p>
                                </div>
                                <div class="room-type-opened__info-amount">
                                    <p class="room-type-opened__info-amount-text room-type-opened__info-amount-text-four">Чотиримісне розміщення</p>
                                    <p class="room-type-opened__info-amount-price">1950 грн</p>
                                </div>
                            </div>
                            <div class="room-type-opened__info-description">
                                <p class="room-type-opened__info-description-title">Опис:</p>
                                <p class="room-type-opened__info-description-text">
                                    Люкс покращеного планування - двокімнатний номер з балконом: вітальня з меблевим гарнітуром, спальна кімната з двоспальним ліжком  Окремий санвузол: унітаз, умивальник,  ванна, фен, рушники. Автономне опалення, круглодобово гаряча і холодна вода.  Супутникове телебачення, телевізор, холодильник,  безкоштовний Інтернет, телефон.
                                </p>
                            </div>
                        </div>
                        <div class="room-type-opened__gallery">
                            <div class="room-gallery">
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/2.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/3.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/2.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/3.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="room-slide">
                                    <a href="~/Content/img/rooms/room-photos/1.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/1.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/2.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/2.jpg" alt="">
                                    </a>
                                    <a href="~/Content/img/rooms/room-photos/3.jpg" class="room-slide-thumb">
                                        <img class="room-slide-img" src="~/Content/img/rooms/room-photos/3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="room-notes">
    <div class="container">
        <p class="room-notes__title">Примiтки:</p>
        <p class="room-notes__text">
            <b>Ціна номера за добу включає:</b> проживання, вартість 3-разового харчування /обід, вечеря, сніданок/, користування Інтернетом. Безкоштовну консультацію лікаря.
        </p>
        <p class="room-notes__text">
            <b>Кількість додаткових місць та номери, в яких вони передбачені, визначені адміністрацією готелю.</b>
        </p>
        <p class="room-notes__text">
            <b>Діти до 6 років розміщуються у готелі безкоштовно (без надання місця та харчування).</b>
        </p>
        <p class="room-notes__text">
            <b>За дітей віком більше 6 років оплачується місце- знижка 25% від вартості дорослого. </b>
        </p>
        <p class="room-notes__text">
            <b>Вартість розміщення домашньої тварини в номері становить 100 грн. за добу. За тварину вноситься додатково гарантійна застава в розмірі 300 грн.</b>
        </p>
    </div>
</section>

@section Scripts {
    <script src="~/Scripts/lightgallery.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/rooms.js"></script>

}

