
@font-face {
  font-family: 'Adagioscript';
  src: url('Adagioscript.eot?#iefix') format('embedded-opentype'),  url('Adagioscript.woff') format('woff'), url('Adagioscript.ttf')  format('truetype'), url('Adagioscript.svg#Adagioscript') format('svg');
  font-weight: normal;
  font-style: normal;
}
